global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    cluster: 'int531-monitoring'
    environment: 'production'

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

# Load alert rules
rule_files:
  - 'alerts/*.yml'

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - prometheus:9090

  - job_name: backend_service
    metrics_path: /metrics
    file_sd_configs:
      - files:
          - /etc/prometheus/targets/backend_service.json
        refresh_interval: 5s

  - job_name: frontend_service
    metrics_path: /metrics
    file_sd_configs:
      - files:
          - /etc/prometheus/targets/frontend_service.json
        refresh_interval: 5s

  - job_name: postgresql_be
    metrics_path: /metrics
    file_sd_configs:
      - files:
          - /etc/prometheus/targets/postgresql_be.json
        refresh_interval: 5s

  - job_name: node_exporter
    file_sd_configs:
      - files:
          - /etc/prometheus/targets/*.json
        refresh_interval: 5s