groups:
  - name: backend_slo_alerts
    interval: 30s
    rules:

      - alert: HighErrorRate
        expr: |
          (
            sum(rate(app_http_requests_total{job="backend_service",status="5xx"}[1m]))
            /
            sum(rate(app_http_requests_total{job="backend_service"}[1m]))
          ) > 0.01
        for: 30s
        labels:
          severity: critical
          service: backend
          signal: errors
        annotations:
          summary: "Backend high error rate detected"
          description: |
            5xx error rate exceeded 1% (1m window).
          runbook_url: https://github.com/sMercyX/INT531-Grafana/blob/main/prometheus/runbooks/backend.md

      - alert: HighLatency
        expr: |
          histogram_quantile(
            0.95,
            sum by (le) (
              rate(app_http_request_duration_seconds_bucket{job="backend_service"}[30s])
            )
          ) > 0.005
        for: 10s
        labels:
          severity: warning
          service: backend
          signal: latency
        annotations:
          summary: "Backend high latency detected (P95)"
          description: |
            P95 backend latency exceeded 5ms (demo threshold).
          runbook_url: https://github.com/sMercyX/INT531-Grafana/blob/main/prometheus/runbooks/backend.md

      - alert: LowTraffic
        expr: |
          sum(rate(app_http_requests_total{job="backend_service"}[1m])) < 0.01
        for: 2m
        labels:
          severity: info
          service: backend
          signal: traffic
        annotations:
          summary: "Backend traffic unusually low"
          description: |
            Request rate is below baseline.
          runbook_url: https://github.com/sMercyX/INT531-Grafana/blob/main/prometheus/runbooks/backend.md

      - alert: ServiceDown
        expr: up{job="backend_service"} == 0
        for: 30s
        labels:
          severity: critical
          service: backend
          signal: availability
        annotations:
          summary: "Backend service is down"
          description: |
            Backend service is not responding to scrape.
          runbook_url: https://github.com/sMercyX/INT531-Grafana/blob/main/prometheus/runbooks/backend.md
